<template>
  <div>
    <div>
      CartCount: {{abc}}
    </div>
    <table class="table">
      <tr>
        <th>name</th>
        <th>price</th>
        <th>quantity</th>
        <th>Remove</th>
      </tr>
      <tr v-for="(carts, index) in $store.state.cart" :key="index">
        <td>{{carts.name}}</td>
        <td>{{carts.price}}</td>
        <td>{{carts.quantity}}</td>
        <td><button @click="deleteItem(item)" class="btn btn-danger">delete</button></td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  name: 'cart',
  methods: {
    deleteItem (item) {
      this.$store.commit('deleteItems')
    }
  },
  computed: {
    abc () {
      return this.$store.getters.cartCount
    }
  }
}
</script>
