<template>
  <div>
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
  </div>
</template>
<script>
export default {
  name: 'counter',
  methods: {
    increment () {
      this.$store.dispatch('updateState', 5)
    },
    decrement () {
      this.$store.commit('Decrement')
    }
  }
}
</script>
