<template>
  <div>
    <br>
    <br>
    <table class="table">
      <tr>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">Images</th>
        <th scope="col">Qty</th>
        <th scope="col">Ready to buy</th>
      </tr>
      <tr v-for="(item, index) in Items" :key="index">
        <td scope="row">{{item.name}}</td>
        <td scope="row">{{item.price}}</td>
        <td scope="row"> <img v-bind:src="item.picture" alt=""></td>
        <td scope="row">{{ getRemainingQty(item) }}</td>
        <td scope="row"><button @click="addToCart(item)">Add to Cart</button></td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  name: 'purchase',
  data () {
    return {
      Items: [{
        quantity: 3,
        name: 'Samsung-galaxy',
        price: 12000,
        picture: require('../image/Images.jpeg')
      },
      {
        quantity: 4,
        name: 'Mi',
        price: 10000,
        picture: require('../image/mi.jpeg')
      },
      {
        quantity: 3,
        name: 'iphone 11',
        price: 110000,
        picture: require('../image/iphone.jpeg')
      }]
    }
  },
  methods: {
    addToCart (item) {
      this.$store.commit('addToCart', { selecteditem: item })
    },
    getRemainingQty (item) {
      let a = this.$store.state.cart.findIndex(x => x.name === item.name)
      console.log(item)
      if (a === -1) {
        return item.quantity
      } else {
        return (item.quantity - this.$store.state.cart[a].quantity)
      }
    }
  }
}
</script>
