<template>
  <div>
    <button v-on:click="reset()">Reset</button>
  </div>
</template>
<script>

export default {
  name: 'reset',
  methods: {
    reset () {
      this.$store.commit('reset')
    }
  }
}
</script>
