<template>
  <div id="app">
    <router-link :to="{name:'purchase'}">purchase</router-link> |
    <router-link :to="{name:'cart'}">cart ({{$store.getters.cartCount}})</router-link>
      <router-view></router-view>
      <!-- <p>count: {{$store.state.counter}}</p>
      <counter></counter>
      <reset></reset> -->
  </div>
</template>
<script>
export default {
  name: 'app'
}
</script>
